@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: feDistantLight) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


/* Blog List Style */
.blog-preview {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(198, 6, 6, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.blog-preview:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.blog-preview h2 {
  font-size: 24px;
  color: #111982;
  margin-bottom: 10px;
}

.blog-preview h3 {
  font-size: 16px;
  color: #666;
  line-height: 1.4;
}

.author {
  font-size: 14px;
  color: #777;
  margin-top: 10px;
}

.date {
  font-size: 12px;
  font-style: italic;
  color: #999;
}