.items {
    padding: 0.2rem;
    position: relative;
    border-radius: 0.5rem;
    background: #FFF;
    color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    font-size: 0.9rem;
    box-shadow:
      0 0 0 1px rgba(0, 0, 0, 0.05),
      0px 10px 20px rgba(0, 0, 0, 0.1),
    ;
  }
  
  .item {
    display: block;
    margin: 0;
    width: 100%;
    text-align: left;
    background: transparent;
    border-radius: 0.4rem;
    border: 1px solid transparent;
    padding: 0.2rem 0.4rem;
  }
  .item  .is-selected {
      border-color: #000;
    }
  
    .ProseMirror 
      
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          line-height: 1.1;
        }
      
      
      .mention {
        border: 1px solid #000;
        border-radius: 0.4rem;
        padding: 0.1rem 0.3rem;
        box-decoration-break: clone;
      }
      
      .character-count {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        color: #68CEF8;
      }
    .character-count --warning {
          color: #FB5151;
        }
      
    .character-count __graph {
          margin-right: 0.5rem;
        }
      
    .character-count __text {
          color: #868e96;
        }
      